body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
    background-color: #E5E5E5;
}

.topo-fundo {
    width: 100%;
    height: 54px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50;
    z-index: 10;
}

.topo {
    height: 54px;
    width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.logo {
    width: auto;
    height: 29px;
    display: flex;
    align-items: center;
}

ion-icon {
    font-size: 22px;
}

.borda-logo {
    width: 1px;
    height: 22px;
    background: #DBDBDB;
    margin: 0 10px;
}

.caixa-pesquisa {
    width: 215px;
    height: 28px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-align: center;
}

::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #979797;
  }

.opcoes {
    width: auto;
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opcoes ion-icon {
    margin-left: 20px;
}

.borda-topo {
    height: 1px;
    width: 100%;
    position: fixed;
    top: 54px;
    left: 50;
    background: #DBDBDB;
    z-index: 10;
}

.conteudo {
    height: 800px;
    width: 935px;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.posts {
    width: 614px;
    height: 100%;
}

.stories {
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    background: white;
}

.story {
    width: 66px;
    height: 85px;
    margin-right: 14px;
    text-align: center;
    font-size: 12px;
    color: #262626;
}

.story:nth-child(2) {
    margin-left: 18px;
}

.stories ion-icon {
    font-size: 32px;
    position: absolute;
    color: white;
    right: 5px;
    top: 46px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.story-img {
    width: 66px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    background: url(/Projeto\ 02\ -\ Instagram/imagens/stories_background.jpg);
    background-size: cover;
}

.story-img img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.post {
    width: 614px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: white;
}

.post-topo {
    width: 614px;
    height: 61px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.pagina {
    width: 209px;
}

.post img {
    width: 614px;
    height: 614px;
}

.post video {
    width: 614px;
    height: 460.5px;
}

.post-topo img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 0 15px 0 17px;
}

.post-topo ion-icon {
    width: 16px;
    height: 16px;
    margin-left: 308px;
}

.post-opcoes {
    width: 614px;
    height: 38px;
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.post-opcoes ion-icon:last-child {
    margin-left: 465px;
}

.post-opcoes ion-icon {
    margin-left: 15px;
}

.curtidas {
    width: 614px;
    height: 36px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 1px;
    display: flex;
    align-items: top;
}

.curtidas div {
    margin-top: 3px;
}

.curtidas img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0 5px 0 17px;
}

.sugestoes {
    width: 293px;
    height: 100%;
}

.perfil {
    width: 293px;
    height: 103px;
    margin-top: 34px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}

.perfil p:last-child {
    font-weight: 300;
    color: #8E8E8E;
    margin-top: 3px;
}

.perfil img {
    margin-right: 17px;
    width: 56px;
    height: 56px;
}

.sugestoes-voce {
    width: 293px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 500;
}

.sugestoes-voce p:last-child {
    color: #262626;
}

.sugestoes-perfis {
    width: 293px;
    height: auto;
}

.sugestoes-perfis-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 17px;
}

.sugestoes-perfis-box img {
    width: 32px;
    height: 32px;
    margin-right: 11px;
}

.sugestoes-perfis-box div:first-child {
    display: flex;
    align-items: center;
}

.sugestoes-perfis-box p:first-child {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #262626;
}

.seguir {
    font-weight: 500;
    color: #139EF2;
}

.info {
    font-size: 11px;
    color: #C7C7C7;
    line-height: 12.89px;
    margin-top: 33px;
}

.info p {
    margin-top: 18px;
}